.about-me {
    padding: 20px;
    text-align: center;
    background-color: #e6f0ff; /* Light blue background for the section */
    border-radius: 8px;
    border: 1px solid #b3d9ff; /* Lighter blue border for the section */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    margin: 0 auto; /* Center the section */
    max-width: 1000px; /* Max width for larger screens */
}

.about-me h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #003366; /* Dark blue color for the main heading */
}

.mission-vision-values {
    text-align: left;
    margin: 0 auto;
}

.mission-vision-values h2 {
    font-size: 1.8rem;
    color: #cc0000; /* Red color for section headings */
    margin-bottom: 0.5rem;
}

.mission-vision-values p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333333; /* Dark gray color for text */
    margin-bottom: 1rem;
}

.mission-vision-values ul {
    list-style-type: disc;
    margin-left: 20px;
}

.mission-vision-values li {
    font-size: 1.1rem;
    color: #003366; /* Dark blue color for list items */
    margin-bottom: 0.5rem;
}

.profile-image {
    display: block;
    margin: 20px auto;
    width: 150px; /* Ajusta el tamaño según sea necesario */
    height: auto;
    border-radius: 50%; /* Opcional: para hacer la imagen circular */
  }

@media (max-width: 768px) {
    .about-me {
        padding: 1rem;
    }

    .mission-vision-values {
        text-align: center;
    }

    .mission-vision-values h2 {
        font-size: 1.5rem;
    }

    .mission-vision-values p {
        font-size: 1rem;
    }

    .mission-vision-values ul {
        margin-left: 0;
    }
}
